.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  font-size: 1.5rem;
}

.form label {
  display: flex;
  gap: 1rem;
  align-items: baseline;
}

.form input {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 0.5rem;
  font-size: inherit;
}

.form input[type="submit"] {
  filter: invert(1);
  cursor: pointer;
}